<footer class="o-box o-center" aria-label=Main>
	<small style="text-align: center;display:block;">
		<p><a href=//github.com/{{ site.author.github }}>GitHub</a> • <a href=//instagram.com/{{ site.author.instagram }}>Instagram</a> • <a href=//mastodon.social/{{ site.author.mastodon}}>Mastodon</a></p>
		<p><a href="/humans.txt">Humans.txt</a> • <a href="/feed.atom.xml">RSS Feed (Atom)</a> • <a href="/sitemap.xml">XML Sitemap</a></p>
		<div id="wcb" class="carbonbadge wcb-d"></div><script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
		<p>Textual Content © <span title="The year everything started for me." itemprop=dateCreated>2008</span>—<span title="Last updated" itemprop=dateModified>{{ 'now' | date: '%Y' }}</span> <a href="{{ site.baseurl }}">Ege Esin</a> except where otherwise noted and/or quoting external sources.
		<br>Powered by <a href="//11ty.dev">Eleventy</a> + <a href="//github.com/pxl-theme/pxl">pxl-theme</a> &amp; hosted by <a href="https://cloud.digitalocean.com/account-referrals?i=90ae245d7efdfaf9c0d05f73ff6130443a136684">DigitalOcean</a> (Referral).<br>Modification dates and times use UTC+3 unless otherwise noted.</p>
	</small>
</footer>
